// Style global avec SASS
@use "base";
@use "header";
@use "buttons";
@use "footer";






// Contenu principal
.content {
  text-align: center;
  padding: 40px 20px;

  h2 {
    font-size: 28px;
    color: #222;
    margin-bottom: 10px;
  }
}

// Carte
.card {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 60%;
  margin: 20px auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;

  &:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
  }

  .card-title {
    font-size: 24px;
    font-weight: bold;
    color: #222;
  }

  .card-content {
    font-size: 16px;
    color: #555;
  }
}

